# Note: torch CPU version is installed separately in Dockerfile
# torch==2.0.1+cpu (installed via pip index)

#transformers==4.30.0
#lightning==2.0.0
#datasets==2.10.0
#evaluate==0.4.0
#wandb==0.15.0
#scikit-learn==1.2.0
#numpy<2.0
#pyarrow<14.0
#datasets==2.19.1
#fsspec==2023.10.0
torch==2.0.1
transformers==4.41.2
datasets==2.19.1
evaluate==0.4.0
lightning==2.2.1
wandb==0.17.0
scikit-learn==1.5.2
pandas==2.2.2
numpy==1.26.4
pyarrow==13.0.0
fsspec==2023.10.0